* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 10rem auto;
}

.display {
  display: flex;
  background-color: gray;
  height: 100px;
  font-weight: bold;
  color: white;
  padding: 2rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}

.button-panel {
  display: flex;
  flex-direction: column;
}

.button-panel div {
  height: 100px;
}
