* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 10rem auto;
}

.display {
  display: flex;
  background-color: gray;
  height: 100px;
  font-weight: bold;
  color: white;
  padding: 2rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}

.button-panel {
  display: flex;
  flex-direction: column;
}

.button-panel div {
  height: 100px;
}

.button-panel button {
  width: 25%;
  text-align: center;
  color: black;
  border: 1px lightgray solid;
  height: 100%;
  font-size: 1.3rem;
}

.button-panel div:nth-child(5) button:nth-child(1) {
  width: 50%;
}
